body {background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);}
#main_wrap {max-width: 1200px; min-height: 1000px; background-color: #fff; margin: 40px auto; padding: 60px 20px}
#main_wrap header {overflow: hidden;}
#main_wrap h1 {float: left; font-size: 20px; width: 7%;}
#main_wrap h1 i {font-size: 50px; color: pink; padding-left: 32px;}
#main_wrap form {float: right; width: 93%; text-align: center;}
#main_wrap form input {display: inline-block; width: 600px; height: 60px; background-color: #fff; border: 2px solid #333; font-size: 20px;}
#main_wrap form button {display: inline-block; height: 60px;}

#contents {overflow: hidden; margin-top: 60px;}
#contents .recipeList {float: left; width: 28%; height: 500px; background-color: #ddd;}
#contents .recipe { float: right; width: 70%; height: 500px; background-color: #ccc;}
