@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);
@font-face {
    font-family: "tfh";
    src: url('fonts/THEFACESHOP.eot'); /* 저버전 익스플로러 폰트 적용*/
    src: url('fonts/THEFACESHOP.eot?') format('eot'), /* IE 9 폰트 적용 */
         url('fonts/THEFACESHOP.woff') format('woff'); /* IE 9, 파이어폭스, 크롬 폰트 적용 */
}

/*font-series*/
.noto_sans {font-family:'Noto Sans KR', sans-serif;}
.tfs {font-family:'tfh', sans-serif;}
.montserrat {font-family:'Montserrat', sans-serif;}
.poppins {font-family:'Poppins', 'Noto Sans KR', sans-serif; letter-spacing:0;}
.nsquare {font-family:'NanumSquare', sans-serif;}/*300, 400, 700, 800*/
.kbatang {font-family:'KoPub Batang', serif;}

/*reset*/
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button {margin:0; padding:0;}
body {font-family:'NanumSquare', 'Poppins', "맑은 고딕", "돋움", sans-serif;}
* {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-word-break:keep-all; -moz-word-break:keep-all; word-break:keep-all; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
li {list-style:none;}
img {border:0; max-width:100%; height:auto;}
a {text-decoration:none; color:#000;}
a:hover {text-decoration:none;}
legend, caption {display:none;}
fieldset {border:0; margin:0; padding:0;}
input, select, textarea, button, i {vertical-align:middle;}
input, select, textarea, button {border:0; background-color:#f2f4f6;}
input[type="text"], input[type="tel"], input[type="number"], input[type="password"], input[type="file"], input[type="email"], input[type="button"], input[type="submit"], button, select {padding:5px 20px; border-radius:3px; min-height:30px;}
input[type="file"] {padding:0;}
button, input[type="button"], input[type="submit"] {cursor:pointer;}
select {padding:0 5px;}
textarea {font-size:14px; line-height:22px; width:100%; padding:10px; text-align:justify; border-radius:3px; font-family:'NanumSquare', 'Poppins', "맑은 고딕", "돋움", sans-serif; color:gray;}
th {font-size:18px; line-height:26px;}
td {font-size:16px; line-height:26px;}
i {transform: translateY(-1px);}
.table {border-top:1px solid black; width:100%; border-spacing: 0; border-collapse: collapse; background:white;}
.table th {padding:12px; border-bottom:1px solid #d4d6d8; font-size:16px; line-height:28px; background:#f9f9fb; font-weight:500;}
.table td {padding:12px; border-bottom:1px solid #d4d6d8; font-size:16px; line-height:28px; font-weight:300;}
.table td .detail {display: block; font-size:14px; color:#6e7882;}
.table td .detail b {color:#fa506e;}
.table.type-02 th {font-size:16px; line-height:24px;}
.table.type-02 td {font-size:14px; line-height:22px;}
.table.row th {width:20%; color:#fa506e;}
.table.row td {width:auto;}
.table.col th {background:#f9f9fb; color:#fa506e;}
.table.col td {padding:20px;}
.table.col.nc th {background:#f9f9fb; color:#3c4650;}
.table.col.nc td {font-size:14px; line-height: 22px; font-weight:400;}
.table.col.nc td.hend {text-align: left;}
.table.col tr th:last-child, .table.col tr td:last-child {border-right:0;}
.overtable {overflow-x: auto;}
.overtable table {min-width: 680px;}
.sum-list {position: relative; font-size:16px; line-height:24px;}
.sum-list li.item {position: relative; padding-left:12px; margin-bottom:10px;}
.sum-list li.item span {position: absolute; top:0; left:0; color:#fa506e;}
.sum-list li.item:last-child {margin-bottom:0;}
.sum-list.titled {position: relative; padding-left:160px;}
.sum-list.titled .title {position: absolute; top:0; left:0; font-size:20px; color:#fa506e;}

/*basic*/
.mask {position:absolute; top:0; left:0; right:0; bottom:0; background:#000; opacity: 0.6; z-index: 0;}
.blind {position:absolute; top:0; left:0; right:0; bottom:0; background:url(../img/main/patternBlind.png); z-index: 0;}
.clear {clear:both; font-size:0;}
.divine {opacity:0.25; font-weight:normal; margin:0 3px;}

/*form*/
.p0 {padding:0;}
.p0 select {border-color:#f0f0f2;}
.p0 table {border:0; border-left:1px solid #f0f0f2;}
.p0 table.row th {width:15%;}
.p0 table th, .p0 table td {border-color:#f0f0f2;}
.p0 table tr:last-child th, .p0 table tr:last-child td {border-bottom:0;}
.p0 table tr th:last-child, .p0 table tr td:last-child {border-right:0;}
.select-box {display:inline-block; vertical-align:middle; margin-right:0; height:30px; line-height: 30px; position: relative; cursor:pointer; border:1px solid #d4d6d8; border-radius:3px; overflow:hidden; background:#fff;}
.select-box select {padding:0 36px 0 6px; border:0; width:100%; display:block; background:none; position:relative; z-index:10; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.select-box select:focus {outline:0;}
.select-box i {position:absolute; top:0; right:-1px; display:block; width:30px; height:31px; line-height:31px; text-align:center; background:#f9f9fb; border:1px solid #d4d6d8; color:#000;}
.file-box {display:inline-block; position:relative; border:1px solid #d4d6d8; border-radius:3px; overflow:hidden; background:#fff; vertical-align:middle; min-width:300px;}
.file-box input[type="text"] {width:100%; background:none; font-size:12px; font-weight:bold; border:0;}
.file-box input[type="button"] {position:absolute; top:-1px; right:-1px; height:32px !important; padding:0 10px; border:0; border-radius:0; height:26px; background:#f9f9fb; color:#000; border:1px solid #d4d6d8;}
.file-box input[type="file"] {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0;}
.check-box {display:inline-block; vertical-align:middle; margin-right:0; height:30px; line-height: 30px; position: relative;}
.check-box i {font-size:18px; margin-right:3px;}
.check-box input {display:none;}
.check-box .hide {display: none;}
.check-box .show {color:#bbb;}
.check-box label {cursor:pointer;}
.check-box input {position: absolute; top:0; left:0; width:100%; height:100%; border-radius: 0; border:0; background:none; cursor: pointer;}
.check-box input:focus {outline: 0;}
.check-box input:checked + label {background:#fff; border-color:#e50050; font-weight:bold;}
.check-box input:checked + label .show {display: none;}
.check-box input:checked + label .hide {display: inline-block; color:#e50050;}

/*text-color*/
.text-black {color:black;}
.text-white {color:white;}
.text-light {color:#d4d6d8;}
.text-gray {color:#848688;}
.text-main {color:#e50050;}
.text-sub {color:#2d3741;}

/*bg*/
.bg-black {color:black;}
.bg-white {color:white;}
.bg-light {color:#d4d6d8;}
.bg-gray {color:#848688;}
.bg-main {background:#e50050;}
.bg-sub {background:#2d3741;}
.bgn {background:none;}
.bgcn {background-color:transparent;}

/*border*/
.bd-black {color:black;}
.bd-white {color:white;}
.bd-light {color:#d4d6d8;}
.bd-gray {color:#848688;}
.bd-main {background:#e50050;}
.bd-sub {background:#2d3741;}

/*overflow*/
.ofh {overflow:hidden;}
.ofa {overflow:auto;}
.ofax {overflow-x:auto;}
.ofay {overflow-y:auto;}

/*font_weight*/
.fw100 {font-weight:100 !important;}
.fw200 {font-weight:200 !important;}
.fw300 {font-weight:300 !important;}
.fw400 {font-weight:400 !important;}
.fw500 {font-weight:500 !important;}
.fw600 {font-weight:600 !important;}
.fw700 {font-weight:700 !important;}
.fw800 {font-weight:800 !important;}
.fw900 {font-weight:900 !important;}
.fwb {font-weight:bold !important;}
.fwm {font-weight:normal !important;}

/*font-size*/
.fs11 {font-size:11px; line-height:16px;}
.fs12 {font-size:12px; line-height:18px;}
.fs14 {font-size:14px; line-height:22px;}
.fs16 {font-size:16px; line-height:24px;}
.fs18 {font-size:18px; line-height:32px;}
.fs20 {font-size:20px; line-height:30px;}
.fs25 {font-size:25px; line-height:35px;}
.fs30 {font-size:30px; line-height:40px;}
.fs35 {font-size:35px; line-height:45px;}
.fs40 {font-size:40px; line-height:50px;}
.fs40 {font-size:45px; line-height:55px;}
.fs50 {font-size:50px; line-height:60px;}

/*width*/
.w100 {width:100%;}
.w95 {width:95%;}
.w90 {width:90%;}
.w85 {width:85%;}
.w80 {width:80%;}
.w75 {width:75%;}
.w70 {width:70%;}
.w65 {width:65%;}
.w60 {width:60%;}
.w55 {width:55%;}
.w50 {width:50%;}
.w49 {width:49%;}
.w48 {width:48%;}
.w45 {width:45%;}
.w40 {width:40%;}
.w35 {width:35%;}
.w30 {width:30%;}
.w25 {width:25%;}
.w20 {width:20%;}
.w15 {width:15%;}
.w10 {width:10%;}
.w100px {width:100px;}
.w90px {width:90px;}
.w80px {width:80px;}
.w70px {width:70px;}
.w60px {width:60px;}
.w50px {width:50px;}
.w40px {width:40px;}
.w30px {width:30px;}
.w20px {width:20px;}
.w10px {width:10px;}

/*min*/
.mh0 {min-height:0;}
.mha {min-height:auto;}
.mw0 {min-width:0;}
.mwa {min-width:auto;}

/*margin*/
.m100 {margin:100px;}
.m90 {margin:90px;}
.m80 {margin:80px;}
.m70 {margin:70px;}
.m60 {margin:60px;}
.m50 {margin:50px;}
.m40 {margin:40px;}
.m30 {margin:30px;}
.m20 {margin:20px;}
.m10 {margin:10px;}
.m5 {margin:5px;}
.m0a {margin:0 auto;}
.ma0 {margin:auto 0;}
.ma {margin:auto;}

/*margin-top*/
.mt100 {margin-top:100px;}
.mt90 {margin-top:90px;}
.mt80 {margin-top:80px;}
.mt70 {margin-top:70px;}
.mt60 {margin-top:60px;}
.mt50 {margin-top:50px;}
.mt40 {margin-top:40px;}
.mt30 {margin-top:30px;}
.mt20 {margin-top:20px;}
.mt15 {margin-top:15px;}
.mt10 {margin-top:10px;}
.mt5 {margin-top:5px;}
.mt0 {margin-top:0;}
.mtm1 {margin-top:-1px;}

/*margin-left*/
.ml100 {margin-left:100px;}
.ml90 {margin-left:90px;}
.ml80 {margin-left:80px;}
.ml70 {margin-left:70px;}
.ml60 {margin-left:60px;}
.ml50 {margin-left:50px;}
.ml40 {margin-left:40px;}
.ml30 {margin-left:30px;}
.ml20 {margin-left:20px;}
.ml10 {margin-left:10px;}
.ml5 {margin-left:5px;}
.ml0 {margin-left:0;}

/*margin-right*/
.mr100 {margin-right:100px;}
.mr90 {margin-right:90px;}
.mr80 {margin-right:80px;}
.mr70 {margin-right:70px;}
.mr60 {margin-right:60px;}
.mr50 {margin-right:50px;}
.mr40 {margin-right:40px;}
.mr30 {margin-right:30px;}
.mr20 {margin-right:20px;}
.mr10 {margin-right:10px;}
.mr5 {margin-right:5px;}
.mr0 {margin-right:0;}

/*margin-bottom*/
.mb100 {margin-bottom:100px;}
.mb90 {margin-bottom:90px;}
.mb80 {margin-bottom:80px;}
.mb70 {margin-bottom:70px;}
.mb60 {margin-bottom:60px;}
.mb50 {margin-bottom:50px;}
.mb40 {margin-bottom:40px;}
.mb30 {margin-bottom:30px;}
.mb20 {margin-bottom:20px;}
.mb10 {margin-bottom:10px;}
.mb5 {margin-bottom:5px;}
.mb0 {margin-bottom:0;}
.mbl60 {padding-bottom:60px; margin-bottom:60px; border-bottom:1px solid #ddd;}

/*padding*/
.p100 {padding:100px;}
.p90 {padding:90px;}
.p80 {padding:80px;}
.p70 {padding:70px;}
.p60 {padding:60px;}
.p50 {padding:50px;}
.p40 {padding:40px;}
.p30 {padding:30px;}
.p20 {padding:20px;}
.p10 {padding:10px;}
.p5 {padding:5px;}
.p0 {padding:0 !important;}
.ph0 {padding-left:0; padding-right:0;}
.pv0 {padding-top:0; padding-bottom:0;}

/*padding_horizontal*/
.ph100 {padding:0 100px;}
.ph90 {padding:0 90px;}
.ph80 {padding:0 80px;}
.ph70 {padding:0 70px;}
.ph60 {padding:0 60px;}
.ph50 {padding:0 50px;}
.ph40 {padding:0 40px;}
.ph30 {padding:0 30px;}
.ph20 {padding:0 20px;}
.ph10 {padding:0 10px;}
.ph5 {padding:0 5px;}

/*padding_vertical*/
.pv100 {padding:100px 0;}
.pv90 {padding:90px 0;}
.pv80 {padding:80px 0;}
.pv70 {padding:70px 0;}
.pv60 {padding:60px 0;}
.pv50 {padding:50px 0;}
.pv40 {padding:40px 0;}
.pv30 {padding:30px 0;}
.pv20 {padding:20px 0;}
.pv10 {padding:10px 0;}
.pv5 {padding:5px 0;}

/*padding-top*/
.pt100 {padding-top:100px;}
.pt90 {padding-top:90px;}
.pt80 {padding-top:80px;}
.pt70 {padding-top:70px;}
.pt60 {padding-top:60px;}
.pt50 {padding-top:50px;}
.pt40 {padding-top:40px;}
.pt30 {padding-top:30px;}
.pt20 {padding-top:20px;}
.pt10 {padding-top:10px;}
.pt5 {padding-top:5px;}
.pt0 {padding-top:0;}

/*padding-left*/
.pl100 {padding-left:100px;}
.pl90 {padding-left:90px;}
.pl80 {padding-left:80px;}
.pl70 {padding-left:70px;}
.pl60 {padding-left:60px;}
.pl50 {padding-left:50px;}
.pl40 {padding-left:40px;}
.pl30 {padding-left:30px;}
.pl20 {padding-left:20px;}
.pl10 {padding-left:10px;}
.pl5 {padding-left:5px;}
.pl0 {padding-left:0;}

/*padding-right*/
.pr100 {padding-right:100px;}
.pr90 {padding-right:90px;}
.pr80 {padding-right:80px;}
.pr70 {padding-right:70px;}
.pr60 {padding-right:60px;}
.pr50 {padding-right:50px;}
.pr40 {padding-right:40px;}
.pr30 {padding-right:30px;}
.pr20 {padding-right:20px;}
.pr10 {padding-right:10px;}
.pr5 {padding-right:5px;}
.pr0 {padding-right:0;}

/*padding-bottom*/
.pb100 {padding-bottom:100px;}
.pb90 {padding-bottom:90px;}
.pb80 {padding-bottom:80px;}
.pb70 {padding-bottom:70px;}
.pb60 {padding-bottom:60px;}
.pb50 {padding-bottom:50px;}
.pb40 {padding-bottom:40px;}
.pb30 {padding-bottom:30px;}
.pb20 {padding-bottom:20px;}
.pb15 {padding-bottom:15px;}
.pb10 {padding-bottom:10px;}
.pb5 {padding-bottom:5px;}
.pb0 {padding-bottom:0;}

/*border*/
.bor {border:1px solid #ddd;}
.bt {border-top:1px solid #ddd;}
.bb {border-bottom:1px solid #ddd;}
.bl {border-left:1px solid #ddd;}
.br {border-right:1px solid #ddd;}
.bn {border:0;}
.bt0 {border-top:0;}
.bb0 {border-bottom:0;}
.bl0 {border-left:0;}
.br0 {border-right:0;}

/*border-dotted*/
.bord {border:1px dotted #bbb;}
.btd {border-top:1px dotted #bbb;}
.bbd {border-bottom:1px dotted #bbb;}
.bld {border-left:1px dotted #bbb;}
.brd {border-right:1px dotted #bbb;}

/*float*/
.fl {float:left;}
.fr {float:right;}
.fn {float:none;}

/*text-align*/
.tc {text-align:center;}
.tl {text-align:left;}
.tr {text-align:right;}
.tj {text-align:justify;}

/*text-decoration*/
.tdo {text-decoration:overline;}
.tdl {text-decoration:line-through;}
.tdo {text-decoration:underline;}

/*display*/
.dn {display:none;}
.db {display:block;}
.di {display:inline;}
.dib {display:inline-block;}

/*position*/
.pl {position:relative;}
.pa {position:absolute;}